:root {
--content-medium: #787A7C;
--content-dark: #373737;
--accent-blue-medium: #1F74E7;
--dominant-main: #FFFFFF;
--dominant-dop: #F6F8FC;
--content-light: #DDDFE1;
--content-light-two: #CAC8C8;
--content-dark: #171717;
--my-family: "Inter", sans-serif;
}